@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Public Sans", sans-serif;
}
body{
    margin: 0px;
    overflow-x: hidden;
    max-width: 100%;
}
body > div{
    padding: 0 10%;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 10%;
}
nav.sticky {
    position: fixed;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 40px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
  }
#navbar *{
    z-index: 200;
}
#navbar ul {
    list-style-type: none;
}
#navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    /* font-size: 18px; */
    position: relative;
    cursor: pointer;
}
#navbar a {
    text-decoration: none;
    color: black;
}
#navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    text-decoration: none;
    background: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
    );
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
#navbar ul li:hover::after{
    width: 100%;
}
.request-btn {
    background: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
    );
    border-radius: 10rem;
    padding: 15px 25px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    /* transition: 0.5s; */
}
.request-btn:hover{
    opacity: 0.4;
}
.header {
    /* display: flex; */
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10%;
    height: 100vh;
    align-items: center;
}
.header-text h1{
    /* width: 70%; */
    font-weight: 300;
    font-size: 4rem;
    line-height: 4rem;
    color: hsl(233, 26%, 24%);
    margin-bottom: 1rem;
}
.header-text p{
    width: 75%;
    font-size: 18px;
    color: hsl(233, 26%, 24%);
    margin-bottom: 30px;
}
.header-image {
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
}
#bg-intro{
    position: absolute;
    top:-200px;
    right:-450px;
    z-index: -2;
}
#mockup{
    position: absolute;
    top: -50px;
    right: -120px;
    z-index: 2;
    /* float: right;    */
}




/* MID SECTION */
.mid-section{
    padding: 10px 10%;
    background-color: hsl(220, 16%, 96%);
}
.mid-section > h2, .bottom-section > h2{
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 4rem;
    color: hsl(233, 26%, 24%);
    margin-bottom: 1rem;
}
.mid-section > p{
    font-size: 18px;
    color: hsl(233, 8%, 62%);
}
.info-grid, .bottom-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.info-grid h3{
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    font-size: 1.5rem;
}
.info-grid p{
    color: hsl(233, 8%, 62%);
    font-size: 18px;
    font-weight: 300;
}
#mid .info-grid > div{
    overflow: hidden;
    transition: 0.5s;
    padding: 12px;
    border-radius: 12px;
}
#mid .info-grid > div:hover{
    transform: scale(1.1);
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 20px 40px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
}


/* BOTTOM-SECTION */
.bottom-section{
    padding: 10px 10%;
}
.bottom-grid{
    margin-top: 1rem;
    overflow: hidden;
}
.bottom-grid img{
    width: 100%;
    aspect-ratio: 4/3;
    transition: 0.3s;
}
/* .bottom-grid img:hover{
    transform: scale(1.1);
} */
.bottom-grid h3, .bottom-grid p{
    padding-left: 20px;
    width: 80%;
}
.bottom-grid h3{
    font-size: 1.2rem;
}
.bottom-grid h3:hover{
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}
.bottom-grid p{
    font-size: 12px;
}
.footer{
    display: flex;
    align-items: center;
    background-color: hsl(233, 26%, 24%);
    color: white;
    gap: 100px;
    /* justify-content: space-between; */
}
.footer ul{
    list-style-type: none;
    padding-left: 0px;
}
.footer li {
    padding: 12px 2px;
}
.col{
    display: flex;
    flex-direction: column;
}
.col:nth-child(1){
    gap: 40px;
}
.col:nth-child(1) > .row:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.col:nth-child(1) > .row:nth-child(2) img:hover{
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}
.col:nth-last-child(1){
    flex: 1;
    align-items: flex-end;
    color: hsl(233, 8%, 62%);
}

@media screen and (max-width: 768px) {
    .info-grid{
        grid-template-columns: 1fr;
    }
}